<main>
    {{> title big data=name}}
    <hr class="my-5">
    <section class="mb-5">
        <p><em>{{name}}</em> - {{description}}</p>

        <div class="mb-2">
            {{#with history}}
            <p><em class="mb-2">Year</em> - {{year}}</p>
            <p><em>Founder</em> - {{founder}}</p>
            {{/with}}
        </div>

        <div class="mb-2">
            <p><em>Types:</em></p>
            <ul>
                {{#each types}}
                <li class="mb-2">
                    <span class="badge text-bg-secondary">{{this}}</span>
                </li>
                {{/each}}
            </ul>
        </div>

        <div class="mb-4">
            {{#with syntax}}
            <p><em>Syntax:</em></p>
            <ul>
                <p><em>Variables:</em>
                    {{#each variables}}
                    <span class="badge rounded-pill text-bg-primary">{{this}}</span>
                    {{/each}}
                </p>

                <p><em>Functions:</em>
                    {{#each functions}}
                    <span class="badge rounded-pill text-bg-success">{{this}}</span>
                    {{/each}}
                </p>

                <p><em>Conditionals:</em>
                    {{#each conditionals}}
                    <span class="badge rounded-pill text-bg-warning">{{this}}</span>
                    {{/each}}
                </p>

                <p><em>Loops:</em>
                    {{#each loops}}
                    <span class="badge rounded-pill text-bg-info">{{this}}</span>
                    {{/each}}
                </p>

                <p><em>Classes:</em>
                    {{#each classes}}
                    <span class="badge rounded-pill text-bg-light">{{this}}</span>
                    {{/each}}
                </p>
            </ul>
            {{/with}}
        </div>

        <div>
            <p><em>Features: </em>
                {{#each features}}
                <span class="badge text-bg-light">{{this}}</span>
                {{/each}}
            </p>
        </div>

        <div>
            <p><em>Libraries:</em>
            <ul>
                {{#each libraries}}
                <li class="mb-2">
                    <span class="badge rounded-pill text-bg-secondary">{{this}}</span>
                </li>
                {{/each}}
            </ul>
            </p>
        </div>

        <div>
            <p><em>Tools:</em>
                {{#each tools}}
                <span class="badge rounded-pill text-bg-info">{{this}}</span>
                {{/each}}
            </p>
        </div>

        <div>
            <p><em>Community:</em>
            <ul>
                {{#each community}}
                <li class="mb-2">
                    <span class="badge text-bg-warning">{{name}}</span> - <button type="button"
                        class="btn btn-link">{{type}}</button>
                </li>
                {{/each}}
            </ul>
            </p>
        </div>
    </section>
    <hr class="my-5">
</main>