<main>
    <hr>
    <br>
    <section>
        {{> title big=true data=name}}
        {{> title data=description}}
        <div>
            <p><em>Price</em>: {{price}}</p>
            <p><em>Category</em>: {{category}}</p>
        </div>
        <div>
            {{#with features}}
            <p><em>Features:</em></p>
            <ul>
                <li class="mb-2">
                    {{#with processor}}
                    <em>Processor</em>: {{brand}} {{model}} {{speed}}, {{cores}} cores, cahe - {{cache}}
                    {{/with}}
                </li>
                <li class="mb-2">
                    {{#with memory}}
                    <em>Memory</em>: {{type}} {{size}} {{speed}}
                    {{/with}}
                </li>
                <li class="mb-2">
                    {{#with storage}}
                    <em>Storage</em>: {{type}} - {{size}}
                    {{/with}}
                </li>
                <li class="mb-2">
                    {{#with display}}
                    <em>Display</em>: {{size}}, {{resolution}} pixels, {{technology}} technology, colorspace
                    {{color_space}},
                    {{brightness}} brightness, refresh rate {{refresh_rate}}
                    {{/with}}
                </li>
                <li class="mb-2">
                    {{#with graphics}}
                    <em>Graphics</em>: {{brand}} {{model}} {{memory}}
                    {{/with}}
                </li>
                <li class="mb-2">
                    <p><em>Ports</em>:</p>
                    <ul>
                        {{#each ports}}
                        {{#if features}}
                        <li class="mb-2">
                            {{type}} - {{count}}
                            <ul class="mb-3">
                                <em>Features</em>:
                                {{#each features}}
                                <li class="mb-2">
                                    {{this}}
                                </li>
                                {{/each}}
                            </ul>
                        </li>
                        {{else}}
                        <li class="mb-2">
                            {{type}} - {{count}}
                        </li>
                        {{/if}}
                        {{/each}}
                    </ul>
                </li>
                <li class="mb-2">
                    {{#with battery}}
                    <em>Battery</em>: {{type}} {{capacity}}, worktime {{life}}
                    {{/with}}
                </li>
                <li class="mb-2">
                    <em>Weight</em>: {{weight}}
                </li>
                <li class="mb-2">
                    {{#with dimensions}}
                    <em>Dimensions</em>: {{height}} x {{width}} x {{depth}}
                    {{/with}}
                </li>
                <li class="mb-2">
                    <em>Operating system</em>: {{operating_system}}
                </li>
                <li class="mb-2">
                    <div>
                        <p><em>Accessories:</em></p>
                        <ul>
                            {{#each accessories}}
                            <li class="mb-2">
                                {{name}} - {{price}} USD
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </li>
            </ul>
            {{/with}}
        </div>
    </section>
    <hr class="my-5">
</main>