<main>
    <section>
        {{#with newsBlock}}
        <div class="row">
            <h1 class="text-center mb-3">{{title}}</h1>
            {{#each cards}}
            {{> shoppost}}
            <br>
            {{/each}}
        </div>
        {{/with}}
    </section>

    <hr class="my-5">

    <section>
        {{#with goodsBlock}}
        <ul class="nav nav-tabs mb-5">
            {{#each tabs}}
            {{#if isActive includeZero=true}}
            <li class="nav-item">
                <a class="nav-link active" href="#">{{text}}</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="#">{{text}}</a>
            </li>
            {{/if}}

            {{#if isDisabled includeZero=true}}
            <li class="nav-item">
                <a class="nav-link disabled" href="#">{{text}}</a>
            </li>
            {{/if}}
            {{/each}}
        </ul>

        <div class="row">
            {{> shopcard}}
        </div>
        {{/with}}
    </section>

    <hr class="my-5">

    <section>
        {{> subscribe}}
    </section>

    <hr class="my-5">

    <section>
        {{> shopaction}}
    </section>

    <hr class="mt-5 mb-3">

</main>