<main class="p-5">
    <section>
        {{#with navigation}}
        <div class="card mb-5">
            <div class="nav nav-tabs p-3">
                {{#each links}}
                <div class="nav-item ms-3">
                    <a href="{{href}}" target="_blank">{{text}}</a>
                </div>
                {{/each}}
            </div>
        </div>
        {{/with}}

        {{#with newsBlock}}
        <div class="row">
            <h1 class="text-center mb-3">{{title}}</h1>
            {{#each cards}}
            <div class="col-3 p-1">
                <div class="card text-bg-dark p-2 mb-3">
                    <h5>
                        {{title}}
                        {{#if isTop includeZero=true}}
                        <span class="badge text-bg-danger rounded-pill">Топ</span>
                        {{/if}}
                        {{#if isNew includeZero=true}}
                        <span class="badge text-bg-success rounded-pill">Нова</span>
                        {{/if}}
                    </h5>
                    <p>{{description}}</p>
                </div>
            </div>
            <br>
            {{/each}}
        </div>
        {{/with}}
    </section>

    <hr class="my-5">

    <section>
        {{#with goodsBlock}}
        <ul class="nav nav-tabs mb-5">
            {{#each tabs}}
            {{#if isActive includeZero=true}}
            <li class="nav-item">
                <a class="nav-link active" href="#">{{text}}</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="#">{{text}}</a>
            </li>
            {{/if}}

            {{#if isDisabled includeZero=true}}
            <li class="nav-item">
                <a class="nav-link disabled" href="#">{{text}}</a>
            </li>
            {{/if}}
            {{/each}}
        </ul>

        <div class="row">
            {{#each cards}}
            <div class="col-4 mb-4 p-1">
                <div class="card">
                    <img src="{{image}}" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}
                            {{#if isHot includeZero=true}}
                            <span class="badge text-bg-warning rounded-pill text-uppercase">hot!</span>
                            {{/if}}
                            {{#if isNew includeZero=true}}
                            <span class="badge text-bg-primary rounded-pill">Нове</span>
                            {{/if}}
                        </h5>
                        <p class="m-0">{{description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </section>

    <hr class="my-5">

    <section>
        {{#with subscribe}}
        <div class="card ">
            <div class="card-body text-bg-dark">
                <h2 class="mb-3">{{header}}</h2>
                <p class="m-0">{{description}}</p>
                {{#each buttons}}
                <div class="mt-2">
                    <a href="{{link}}" target="_blank">
                        <button class="btn btn-primary"> {{text}}</button>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
        {{/with}}
    </section>

    <hr class="my-5">

    <section>
        {{#with service}}
        <div class="card ">
            <div class="card-body text-bg-success text-center">
                <h2 class="mb-3">{{title}}</h2>
                <p class="m-0">{{description}}</p>
                {{#each buttons}}
                <div class="mt-3">
                    <a href="{{link}}" target="_blank">
                        <button class="btn btn-primary"> {{text}}</button>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
        {{/with}}
    </section>

    <hr class="mt-5 mb-3">

    <footer>
        <div class="row">
            {{#each footer}}
            <div class="nav flex-column col-2">
                {{#each this}}
                <div class="nav-item">
                    <a href="{{link}}" class="nav-link">{{text}}</a>
                </div>
                {{/each}}
            </div>
            {{/each}}
        </div>
    </footer>
</main>