<div>
    <nav>
        {{#with navigation}}
        <div class="row">
            {{#each links}}
            <div class="col-2">
                <button type="button" class="btn btn-link">
                    <a href="{{href}}" target="_blank">{{text}}</a>
                </button>
            </div>
            {{/each}}
            {{#with button}}
            <div class="col-2">
                <a href="{{href}}">
                    <button type="button" class="btn btn-primary">
                        {{text}}
                    </button>
                </a>
            </div>
            {{/with}}

        </div>
        {{/with}}
    </nav>
    <hr>
    <br>

    <header>
        {{#with header}}
        <div>
            <h1>{{title}}</h1>
            <br>
            <div>{{description}}</div>
            <br>
            {{#with button}}
            <a href="{{href}}">
                <button type="button" class="btn btn-primary">
                    {{text}}
                </button>
            </a>
            {{/with}}
        </div>
        {{/with}}
    </header>
    <hr>
    <br>

    <main>
        <section>
            {{#with city}}
            <h2>{{title}}</h2>
            <div class="row">
                {{#each cards}}
                <div class="col-5 g-3">
                    <div class="card">
                        {{#with picture}}
                        <img src="{{src}}" alt="alt">
                        {{/with}}
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p>{{description}}</p>
                            {{#with button}}
                            <a href="{{href}}">
                                <button type="button" class="btn btn-primary">{{text}}</button>
                            </a>
                            {{/with}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </section>
        <hr>
        <br>
        <section>
            {{#with winner}}
            <h2>{{title}}</h2>
            <table class="table">
                {{#with table}}
                <thead>
                    <tr>
                        {{#each head}}
                        <th>{{this}}</th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each user}}
                    <tr>
                        <td>
                            {{place}}
                        </td>
                        <td>
                            {{name}}
                        </td>
                        <td>
                            {{surname}}
                        </td>
                        <td>
                            {{nickname}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
                {{/with}}
            </table>
            {{/with}}
        </section>
        <hr>
        <br>
        <section>
            {{#with gallery}}
            <h2>{{title}}</h2>

            <div class="row">
                {{#each cards}}
                <div class="col-4 g-2">
                    <div class="card">
                        <div>
                            <div class="card-header">
                                <h6>{{name}}</h6>
                            </div>
                            <ul class="list-group list-group-flush">
                                {{#each items}}
                                <li class="list-group-item">
                                    {{this}}
                                </li>
                                {{/each}}
                                </li>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </section>
        <hr>
        <br>
        <section>
            {{#with relaxion}}
            <div class="display-3">{{title}}</div>
            <div class="row">
                {{#each cards}}
                <div class="col-5 g-4">
                    <div class="card text-bg-secondary">
                        <div class="card-header">
                            {{header}}
                        </div>
                        <div class="card-body">
                            <h6>{{title}}</h6>
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </section>
        <hr>
        <br>
        <section>
            {{#with rest}}
            <div class="row">
                {{#each cards}}
                <div class="col-6 g-2">
                    <div class="card text-center">
                        <div class="card-header">{{header}}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p>{{description}}</p>
                            <button type="button" class="btn btn-primary">{{button}}</button>
                        </div>
                        <div class="card-footer">{{footer}}</div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </section>
        <hr>
        <br>
        <section>
            {{#with proposition}}
            <div class="display-2">{{title}}</div>
            <br>
            <div class="row">
                {{#each card}}
                <div class="col-5 g-2">
                    <div class="card text-bg-warning text-light">
                        <div class="card-header">{{header}}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </section>
    </main>
    <hr>
    <br>
    <footer>
        {{#with footer}}
        <h5>{{title}}</h5>
        <div class="row">

            <div class="col-3 g-2 list-group">
                {{#each navigation}}
                <a href="{{href}}" class="list-item" target="_blank">
                    <button class="btn btn-link">{{text}}</button>
                </a>
                <br>
                {{/each}}
            </div>

            <div class="col-3 g-2 list-group">
                {{#each socialMedia}}
                <a href="{{link}}" class="list-item" target="_blank">
                    <button class="btn btn-outline-dark">{{name}}</button>
                </a>
                <br>
                {{/each}}
            </div>

            <div class="col-3 g-2 list-group">
                {{#each partners}}
                <a href="{{link}}" class="list-item" target="_blank">
                    <button class="btn btn-outline-info">{{name}}</button>
                </a>
                <br>
                {{/each}}
            </div>
            {{/with}}
    </footer>
</div>