<main>
    <hr class="mb-5">
    <section>
        {{> title data="Languages:" big=true}}
        <div>
            {{#with web}}
            <ul>
                {{#each languages}}
                <li class="mb-4">
                    <div class="mb-2"><em>Name:</em> {{name}}</div>
                    <div class="mb-2"><em>Version:</em> {{version}}</div>
                    <div class="mb-2"><em>Description:</em> {{description}}</div>
                    {{#if elements}}
                    <div>
                        <ul>
                            <div class="mb-2">Elements:</div>
                            {{#each elements}}
                            <li class="mb-2">
                                <div class="mb-2">{{name}} - {{description}}</div>
                                <ul>
                                    <div>Attributes:</div>
                                    {{#each attributes}}
                                    <li class="mb-2">
                                        <div>{{name}} - {{description}}</div>
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    {{/if}}


                    {{#if properties}}
                    <div>
                        <ul>
                            {{#each properties}}
                            <li class="mb-2">
                                <div class="mb-2">{{name}} - {{description}}</div>
                                <ul class="mb-2">
                                    <div>Values:</div>
                                    {{#each values}}
                                    <li class="mb-2">
                                        <div>{{value}} - {{description}}</div>
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    {{/if}}


                    {{#if functions}}
                    <div class="mb-2">
                        <ul>
                            <div>Functions:</div>
                            {{#each functions}}
                            <li class="mb-2">
                                <div class="mb-2">{{name}} - {{description}}</div>
                                <ul class="mb-4">
                                    <div class="mb-2">Parameters:</div>
                                    {{#each parameters}}
                                    <li>
                                        <div class="mb-2">Name: {{name}}</div>
                                        <div class="mb-2">Type: {{type}}</div>
                                        <div class="mb-2">Description: {{description}}</div>
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    {{/if}}
                </li>
                {{/each}}
            </ul>
            {{/with}}
        </div>
    </section>
    <hr class="my-5">
</main>