<main>
    {{#with main}}
    <section>
        {{> title data="Work history" big=true}}
        <div>
            <ul>
                {{#each works}}
                <li>
                    <div class="mb-2">{{position}}</div>
                    <div class="mb-2">
                        {{duration.from}} -
                        {{#if duration.to}}
                        {{duration.to}}
                        {{else}} досі працюємо
                        {{/if}}
                    </div>
                    <div class="mb-2">
                        {{#unless company.url includeZero=true}}
                        <b>{{company.name}}</b>

                        {{else}}

                        {{> link text=company.name href=company.url blank=true noLine=true}}
                        {{/unless}}

                    </div>

                    <div class="mb-2">
                        <strong>Projects - {{projectAmount}}</strong>
                    </div>

                    <div>
                        <ul>
                            {{#each projects}}
                            <li class="mb-2">
                                <div>{{name}}</div>
                                <div>
                                    {{> link text=name href=url blank=true noLine=true}}
                                </div>
                                <br>
                                <div>
                                    <p>About: {{about}}</p>
                                </div>
                                <br>
                                <div><em>Project stacks ({{../stackAmount}})</em></div>
                                <br>
                                <div>
                                    <ul>
                                        {{#each stacks}}
                                        <li>
                                            {{name}}
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                                <br>
                                <div>
                                    <em>Project awards ({{../awardsAmount}})</em>
                                </div>
                                <br>
                                <div>
                                    <ul>
                                        {{#each awards}}
                                        <li>
                                            {{name}}
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </section>
    {{/with}}
</main>