{{#with navigation}}
<div class="card mb-5">
    <ul class="nav p-3">
        {{#each links}}
        {{#if @last}}
        <li class="nav-item ms-3 ">
            <a href="{{href}}" target="_blank" class="nav-link disabled">{{text}}</a>
        </li>
        {{else}}
        <li class="nav-item ms-3">
            <a href="{{href}}" target="_blank" class="nav-link">{{text}}</a>
        </li>
        {{/if}}
        {{/each}}
    </ul>
</div>
{{/with}}